.sub-category {
    padding-left: 0px;
}
.sub-category li {
    list-style-type: none;
    padding: 2px 0px 2px 0px;
    border-bottom: 1px solid #f1f1f1;
}
.bt-edit-category {
    font-size: 12px;
}
.bt-edit-category:hover {
    color: #f39c12;
}
.bt-delete-category {
    font-size: 12px;
}
.bt-delete-category:hover {
    color: #dd4b39;
}
.sub-category li:hover {
    background: #24c4eca6;
}
.form-add-new-user .row {
    padding-bottom: 20px;
}
.form-edit-info-document .row {
    padding-bottom: 20px;
}
.form-edit-info-user .row {
    padding-bottom: 20px;
}
.form-edit-info-category .row {
    padding-bottom: 20px;
}
.new-sub-category li {
    list-style-type: none;
}
.help-block strong {
    color: #dd4b39;
    font-weight: 500;
}

.sidebar-profile {
    margin-top: 20px;
}

.sidebar-panel li {
    padding: 7px 0px 7px 0px;
    border-bottom: 1px solid #f1f1f1;
}

.sidebar-panel li:last-child {
    border-bottom: 0px;
}

.sidebar-panel li>a>i {
    width: 25px;
    color: #00b5ad;
}

.user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #00b5ad;
    overflow: hidden;
}

.sidebar-profile .panel .panel-heading {
    background: #00b5ad;
    color: #fff;
}

.manage-user-info {
    margin-top: 20px;
}

.input-no-border {
    border-radius: 0px;
}

.edit-user-info {
    padding: 20px 20px 10px 0px;
    border: 1px solid #f1f1f1;
}

.manage-user-info .panel-body hr {
    margin-left: 20px;
    color: #f1f1f1;
}

.manage-user-info .panel .panel-heading {
    background: #00b5ad;
    color: #fff;
}

.label-thin {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.panel-title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}

.user-upload-document {
    margin-top: 20px;
}

.user-upload-document .panel .panel-heading {
    background: #00b5ad;
    color: #fff;
}

.link {
    color: #00b5ad !important;
}

.label-thin {
    font-weight: 400;
    font-size: 14px;
}

.bootstrap-tagsinput {
    border-radius: 0px !important;
    display: -webkit-box !important;
}

.register-page {
    background: url('../images/login.jpg') no-repeat 0 0;
    background-size: cover;
}

.login-page {
    background: url('../images/login.jpg') no-repeat 0 0;
    background-size: cover;
}

.login-box-body {
    border-radius: 5px;
}

.register-box-body {
    border-radius: 5px;
}

.menu-profile {
    line-height: 2.9;
}

.text-lowercase {
    text-transform: initial !important;
}

.btn-action-group {
    text-align: center;
}

.btn-action-group .btn {
    margin-bottom: 2px;
}

.no-document-upload {
    text-align: center;
}

.img-center {
    margin: 0 auto;
    border: 2px solid #dd4b39;
}

.preview-image {
    margin-top: 10px;
}

.btn-upload-thumbnail {
    cursor: pointer;
    background: #00b5ad;
    color: #fff;
    border-color: #00b5ad;
}

.preview-message {
    margin-top: 5px;
    margin-bottom: 5px;
}

.analysis {
    margin-top: 27px;
}

.analysis span {
    padding: 0px 20px 0px 0px;
    color: rgb(116, 114, 114);
}

.author div {
    float: left;
}

.author .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.author .name {
    line-height:  2.5;
    padding-left: 10px;
}

.author .name  a {
    font-size: 16px;
    font-weight: 500;
}

.author .name p {
    font-size: 12px;
    position: absolute;
    top: 23px;
}

.view-info {
    padding-bottom: 15px;
}

.document-action {
    margin-top: 20px;
    text-align: right;
}

.analysis {
    text-align: left;
}

.document-action a {
    margin-left: 10px;
    margin-bottom: 5px;
}

.pagination {
    margin: 0px;
}

.paginate {
    text-align: right;
}

 .label.ribbon {
    background: #E8E8E8;
    color: rgba(0,0,0,0.65);
    padding: 5px 20px 5px 20px;
    font-size: 1.1em;
}

.label.ribbon:after {
    position: absolute;
    content: "";
    border-right-width: 1em;
    border-right-style: solid;
    border-bottom: 1em solid transparent;
    border-left: 0em solid transparent;
    top: 108%;
    left: 15px;
    color: #E8E8E8;
}

.comment-ui {
    margin-top: 3em;
}

.comment-box-row {
    margin-top: 40px;
}

.avatar-user-comment {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.sharing-row {
    margin-top: 20px;
}

.sharing-btn-group {
    text-align: right;
}

.sharing-title {
    text-align: right;
    line-height: 2.4;
}

.show-comment {
    margin-top: 40px;
}

.comment-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.comment-time {
    font-size: 12px;
    color: #8c8787;
}

.user-name {
    color: #00b5ad;
}

.btn-group-comment-input {
    padding-top: 10px;
}

.messages-validate-comment {
    color: #e62910;
}

.wrap-add-new-user {
    text-align: right;
}

.new-parent-category {
    text-align: right;
}

.wrap-add-new-moderator {
    text-align: right;
}

.notifications-admin {
    position: absolute;
    z-index: 2000;
    top: 5em;
    right: 1em;
}

.user-profile {
    margin-top: 30px;
}

.box{
    position:relative;
    border-radius:3px;
    background:#ffffff;
    border-top:3px solid #d2d6de;
    margin-bottom:20px;
    width:100%;
    box-shadow:0 1px 1px rgba(0,0,0,0.1);
}
.box.box-primary{
    border-top-color:#00b5ad;
    background: #ecf0f5;
}

.list-group-unbordered>.list-group-item{
    border-left:0;
    border-right:0;
    border-radius:0;
    background: #ecf0f5;
}

.profile-user-img{
    margin:0 auto;
    width:100px;
    padding:1px;
    border:3px solid #d2d6de;
    margin-top: 10px;
}

.profile-username{
    font-size:21px;
    margin-top:5px;
}

.nav-tabs-custom{
    margin-bottom:20px;
    background:#fff;
    box-shadow:0 1px 1px rgba(0,0,0,0.1);
    border-radius:3px;
}

.nav-tabs-custom>.nav-tabs{
    margin:0;
    border-bottom-color:#f4f4f4;
    border-top-right-radius:3px;
    border-top-left-radius:3px;
}

.nav-tabs-custom>.nav-tabs>li{
    border-top:3px solid transparent;
    margin-bottom:-2px;
    margin-right:5px;
}

.nav-tabs-custom>.nav-tabs>li.disabled>a{
    color:#777;
}

.nav-tabs-custom>.nav-tabs>li>a{
    color:#444;
    border-radius:0;
}

.nav-tabs-custom>.nav-tabs>li>a.text-muted{
    color:#999;
}

.nav-tabs-custom>.nav-tabs>li>a,.nav-tabs-custom>.nav-tabs>li>a:hover{
    background:transparent;
    margin:0;
}

.nav-tabs-custom>.nav-tabs>li>a:hover{
    color:#999;
}

.nav-tabs-custom>.nav-tabs>li:not(.active)>a:hover,.nav-tabs-custom>.nav-tabs>li:not(.active)>a:focus,.nav-tabs-custom>.nav-tabs>li:not(.active)>a:active{
    border-color:transparent
}

.nav-tabs-custom>.nav-tabs>li.active{
    border-top-color:#00b5ad;
}
.nav-tabs-custom>.nav-tabs>li.active>a,.nav-tabs-custom>.nav-tabs>li.active:hover>a{
    background-color:#fff;
    color:#444;
}

.nav-tabs-custom>.nav-tabs>li.active>a{
    border-top-color:transparent;
    border-left-color:#f4f4f4;
    border-right-color:#f4f4f4;
}

.nav-tabs-custom>.nav-tabs>li:first-of-type{
    margin-left:0;
}

.nav-tabs-custom>.nav-tabs>li:first-of-type.active>a{
    border-left-color:transparent;
}

.nav-tabs-custom>.nav-tabs.pull-right{
    float:none !important;
}

.nav-tabs-custom>.nav-tabs.pull-right>li{
    float:right;
}

.nav-tabs-custom>.nav-tabs.pull-right>li:first-of-type{
    margin-right:0;
}

.nav-tabs-custom>.nav-tabs.pull-right>li:first-of-type>a{
    border-left-width:1px;
}

.nav-tabs-custom>.nav-tabs.pull-right>li:first-of-type.active>a{
    border-left-color:#f4f4f4;
    border-right-color:transparent;
}

.nav-tabs-custom>.nav-tabs>li.header{
    line-height:35px;
    padding:0 10px;
    font-size:20px;
    color:#444;
}

.nav-tabs-custom>.nav-tabs>li.header>.fa,.nav-tabs-custom>.nav-tabs>li.header>.glyphicon,.nav-tabs-custom>.nav-tabs>li.header>.ion{
    margin-right:5px;
}

.nav-tabs-custom>.tab-content{
    background:#fff;
    padding:10px;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;
}

.nav-tabs-custom .dropdown.open>a:active,.nav-tabs-custom .dropdown.open>a:focus{
    background:transparent;
    color:#999;
}

.nav-tabs-custom.tab-primary>.nav-tabs>li.active{
    border-top-color:#3c8dbc;
}

.nav-tabs-custom.tab-info>.nav-tabs>li.active{
    border-top-color:#00c0ef;
}

.nav-tabs-custom.tab-danger>.nav-tabs>li.active{
    border-top-color:#dd4b39;
}

.nav-tabs-custom.tab-warning>.nav-tabs>li.active{
    border-top-color:#f39c12;
}

.nav-tabs-custom.tab-success>.nav-tabs>li.active{
    border-top-color:#00a65a;
}

.nav-tabs-custom.tab-default>.nav-tabs>li.active{
    border-top-color:#d2d6de;
}

.btn-no-radius {
    border-radius: 0px;
}

.text-link {
    color: #00b5ad;
}

.form-edit-profile .form-control[disabled] {
    border: 0px;
    background: #fff;
    cursor: default;
}

.notifications-user {
    position: absolute;
    z-index: 2000;
    top: 3em;
    right: 1em;
}

#alert-error-public {
    background-color: #dd4b39 !important;
}

#alert-success-public {
    background-color: #6addf4 !important;
}

.text-white {
    color: #fff;
}

.btn-change-thumbnail {
    background: #00b5ad;
    color: #fff;
}

.btn-login {
    border-radius: 5px !important;
}

.box-edit-category {
    display: none;
}

.box-add-new-category {
    display: none;
}

.category-paginate {
    padding-top: 20px;
}

.loader-3 .dot {
    width: 10px;
    height: 10px;
    background: #00e676;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 5px);
}

.input-radius {
    border-radius: 5px !important;
}

.btn-radius {
    border-radius: 5px !important;
}
